<head>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

 <div class="view-content">
 {% set date = [] %}
 {% set netdiff = [] %}
 {% set shortnetdiff = [] %}
 {% set fiidiff = [] %}
 {% set diidiff = [] %}
 {% set clientdiff = [] %}
 {% set prodiff = [] %}
 {% set fiibullish = [] %}
 {% set fiibearish = [] %}
 {% set clientbullish = [] %}
 {% set clientbearish = [] %}
 {% set probullish = [] %}
 {% set probearish = [] %}
 
 {% for rec in items %}
    {% set date = date|merge([rec.date]) %}  
    {% set netdiff = netdiff|merge([rec.netdiff]) %} 
    {% set shortnetdiff = shortnetdiff|merge([rec.netdiffshort]) %} 
    {% set fiidiff = fiidiff|merge([rec.fiiDiff]) %}
    {% set diidiff = diidiff|merge([rec.diiDiff]) %} 
    {% set clientdiff = clientdiff|merge([rec.clientDiff]) %} 
    {% set prodiff = prodiff|merge([rec.proDiff]) %} 
    {% set fiibullish = fiibullish|merge([rec.fiiBullish]) %} 
    {% set fiibearish = fiibearish|merge([rec.fiiBearish]) %}
    {% set clientbullish = clientbullish|merge([rec.clientBullish]) %} 
    {% set clientbearish = clientbearish|merge([rec.clientBearish]) %} 
    {% set probullish = probullish|merge([rec.proBullish]) %} 
    {% set probearish = probearish|merge([rec.proBearish]) %} 
  
 {% endfor %}
 

   {% set title = 'Future Calculation Chart' %}

    {%
      set series = {
        'fii_diff' : {
          'title' : 'FII Difference plotted',
          'data' : fiidiff
        },
        'dii_diff' : {
          'title' : 'DII Difference plotted',
          'data' : diidiff
        },
        'client_diff' : {
          'title' : 'Client Difference plotted',
          'data' : clientdiff
        },
        'pro_diff' : {
          'title' : 'Pro Difference plotted',
          'data' : prodiff
        },
        
      }
    %}
   
    {%
      set xaxis = {
        'title' : 'X-Axis Label',
        'labels' : date
      }
    %}
    
    {{ chart('my_twig_chart', 'line', title, series, xaxis, [], []) }}


     {% set title = 'Optinal Calculation Chart' %}

    {%
      set series = {
        'fii_bullish' : {
          'title' : 'FII Bullish plotted',
          'data' : fiibullish
        },
        'fii_bearish' : {
          'title' : 'FII Bearish plotted',
          'data' : fiibearish
        },
        'client_bullish' : {
          'title' : 'Client Bullish plotted',
          'data' : clientbullish
        },
        'client_bearish' : {
          'title' : 'Client Bearish plotted',
          'data' : clientbearish
        },
        'pro_bullish' : {
          'title' : 'Pro Bullish plotted',
          'data' : probullish
        },
        'pro_bearish' : {
          'title' : 'Pro Bearish plotted',
          'data' : probearish
        }
      }
    %}
   
    {%
      set xaxis = {
        'title' : 'X-Axis Label',
        'labels' : date
      }
    %}
    
    {{ chart('my_twig_chart', 'line', title, series, xaxis, [], []) }}
   <h2>Future Calculation</h2>
   <table class="views-table cols-4" id="table">
      <thead>
         <tr>
            <th id="view-name-table-column" class="views-field views-field-name" scope="col">Date</th>
            <th id="view-email-table-column" class="views-field views-field-email" scope="col">Net Diff Long</th>
            <th id="view-email-table-column" class="views-field views-field-email" scope="col">Net Diff Short</th>
            <th id="view-mobile-table-column" class="views-field views-field-mobile" scope="col">FII Diff</th>
            <th id="view-mobile-table-column" class="views-field views-field-mobile" scope="col">DII Diff</th>
            <th id="view-mobile-table-column" class="views-field views-field-mobile" scope="col">Client Diff</th>
            <th id="view-mobile-table-column" class="views-field views-field-mobile" scope="col">Pro Diff</th>
         </tr>
      </thead>

      <tbody>
        {% for rec in items %}
         <tr>
            <td class="views-field views-field-id date-field">{{ rec.date}}</td>
            
            <td headers="view-name-table-column" class="views-field views-field-name">{{ rec.netdiff }} </td>
            <td headers="view-name-table-column" class="views-field views-field-name">{{ rec.netdiffshort }} </td>
            {% if rec.fiiDiff <= -1 %}
            <td headers="view-email-table-column" class="red views-field views-field-email">{{ rec.fiiDiff }}          </td>
            {% elseif rec.fiiDiff >= 1 %}
            <td headers="view-email-table-column" class="green views-field views-field-email">{{ rec.fiiDiff }}          </td>
            {% else %}
              <td headers="view-email-table-column" class="yellow views-field views-field-email"> {{ rec.fiiDiff }}          </td>
            {% endif %}


            {% if rec.diiDiff <= -1 %}
            <td headers="view-email-table-column" class="red views-field views-field-email">{{ rec.diiDiff }}          </td>
            {% elseif rec.diiDiff >= 1 %}
            <td headers="view-email-table-column" class="green views-field views-field-email">{{ rec.diiDiff }}          </td>
            {% else %}
              <td headers="view-email-table-column" class="yellow views-field views-field-email"> {{ rec.diiDiff }}          </td>
            {% endif %}  


            {% if rec.clientDiff <= -1 %}
            <td headers="view-email-table-column" class="red views-field views-field-email">{{ rec.clientDiff }}          </td>
            {% elseif rec.clientDiff >= 1 %}
            <td headers="view-email-table-column" class="green views-field views-field-email">{{ rec.clientDiff }}          </td>
            {% else %}
              <td headers=" view-email-table-column" class="yellow views-field views-field-email"> {{ rec.clientDiff }}          </td>
            {% endif %}   


           {% if rec.proDiff <= -1 %}
            <td headers="view-email-table-column" class="red views-field views-field-email">{{ rec.proDiff }}          </td>
            {% elseif rec.proDiff >= 1 %}
            <td headers="view-email-table-column" class="green views-field views-field-email">{{ rec.proDiff }}          </td>
            {% else %}
              <td headers="view-email-table-column" class="yellow views-field views-field-email"> {{ rec.proDiff }}          </td>
            {% endif %}  


          
         
         </tr>
        {% endfor %}
      </tbody>
   </table>

   <h2>Option Calculation</h2>
   <table class="views-table cols-4" id="option">
      <thead>
         <tr>
            <th id="view-name-table-column" class="views-field views-field-name" scope="col">Date</th>
            <th id="view-email-table-column" class="views-field views-field-email" scope="col">FII Bullish</th>
            <th id="view-email-table-column" class="views-field views-field-email" scope="col">FII Bearish</th>
            <th id="view-email-table-column" class="views-field views-field-email" scope="col">Client Bullish</th>
            <th id="view-email-table-column" class="views-field views-field-email" scope="col">Client Bearish</th>
            <th id="view-mobile-table-column" class="views-field views-field-mobile" scope="col">Pro Bullish</th>
            <th id="view-mobile-table-column" class="views-field views-field-mobile" scope="col">Pro Bearish</th>
         </tr>
      </thead>
      <tbody>
        {% for rec in items %}
          <tr>
              <td class="views-field views-field-id date-field">{{ rec.date}}</td>
              <td class="views-field views-field-id">{{ rec.bullish}}</td>
              <td class="views-field views-field-id">{{ rec.bearish}}</td>
              <td class="views-field views-field-id">{{ rec.clientbullish}}</td>
              <td class="views-field views-field-id">{{ rec.clientbearish}}</td>
              <td class="views-field views-field-id">{{ rec.probullish}}</td>
              <td class="views-field views-field-id">{{ rec.probearish}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/nse/export" class="views-display-link views-display-link-data_export_1  date-field download">
    Download <i class="fa fa-download fa-2x"></i></a>
</div>